@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: Lustra;
  src: url("../../public/assets/fonts/Fontspring-DEMO-lustrasemibold.otf");
}


body{
  background-color: #000000;
}

.btn{
  font-family: Lustra;
}
.font-lustra{
  font-family: Lustra;
}
.hero{
  font-family: Lustra;
  text-shadow: 3px 1px 5px rgba(0,0,0,0.35);
}
.gradient-text{
  font-family: Lustra;
  /* text-shadow: 3px 1px 5px rgba(0,0,0,0.35); */
}
.line-text{
  font-family: Lustra;
  /* text-shadow: 3px 1px 5px rgba(0,0,0,0.35); */
}
.partner h1{
  font-family: Lustra;
  /* text-shadow: 3px 1px 5px rgba(0,0,0,0.35); */
}

.hero{
  background: linear-gradient(180deg, #0B1017 0%, rgba(11, 16, 23, 0.1) 15.31%, rgba(11, 16, 23, 0) 100%), url('../assets/img/AST_City.png') no-repeat center center/cover;
}
.hero video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.join{
  background: url('../assets/svg/join_bg.svg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.buy-now{
  background: linear-gradient(291.95deg, #000000 0.57%, rgba(0, 0, 0, 0) 73.9%), url('../assets/svg/AST_Chip.svg') ;
  background-size: cover;
  background-repeat: no-repeat;
}

.marketplace{
  background: linear-gradient(255.77deg, rgba(0, 0, 0, 0) 83.16%, rgba(251, 24, 238, 0.4) 100%, rgba(35, 161, 254, 0.4) 0%, rgba(0, 0, 0, 0) 19.76%);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.market_gradient{
  background: linear-gradient(90deg #000000, #000000);
}
.marketplace video::after{
  /* background-color: red; */
}
/* .market_gradient{
  background: linear-gradient(291.95deg, #000000 0.57%, rgba(0, 0, 0, 0) 73.9%), url('./assets/svg/AST_MarketPlace.svg') ;
  background-size: contain;
  background-repeat: no-repeat;
} */
.metaverse{
  background: linear-gradient(291.95deg, #000000 0.57%, rgba(0, 0, 0, 0) 73.9%), url('../assets/svg/AST_Brain_v1.svg') ;
  background-size: cover;
  background-repeat: no-repeat;
}

.advert{
  background: url('../assets/img/AST_Brands.png');
  background-size: 80%;
  background-repeat: no-repeat;
}
.asset_overlay{
  background: url('../assets/svg/3d-illustration_bg.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}


.rewards{
  background:  linear-gradient(291.95deg, #000000 0.57%, rgba(0, 0, 0, 0) 73.9%), url('../assets/img/AST_Stars_v2.png');
  background-size: 70%;
  background-position-x: 100%;
  background-repeat: no-repeat;
}
.text-gradient-outline {
  background: linear-gradient(180deg, #4FB1F6 0%, #FB18EE 100%);
  /* background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7); */
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
}

.auth{
  background: linear-gradient(180deg, #0B1017 0%, rgba(11, 16, 23, 0.1) 15.31%, rgba(11, 16, 23, 0) 100%),  url('../assets/img/auth_bg.png');
  background-size: cover;
  background-position-x: 85%;
  background-repeat: no-repeat;
}
.auth-gradient{
  background: url('../assets/img/auth_gradient.png');
  background-size: cover;
  background-position-x: 50%;
  display: grid;
  place-items: center;
}

.gradient_md{
  background: url('../assets/svg/gradient_bg_md.svg');
  background-size: cover;
}


.reset-password{
  background: url('../../public/assets/img/modal_bg.png');
  background-position: 50%;
  background-size: cover;
}
.analytic{
  background: url('../../public/assets/img/analytic_gradient.png');
  background-repeat: no-repeat;
  background-size: 100%; 
}

.border-gradient{
  border: 1px solid #626377;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.border-gradient:hover{
  background: linear-gradient(#000, #000) padding-box,
              linear-gradient(133.97deg, #4FB1F6 0%, #FB18EE 100%) border-box;
  border: 1px solid transparent;
}
.border-gradient-btn{
  border: 2px solid #626377;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}
.border-active{
  background: linear-gradient(#000, #000) padding-box,
              linear-gradient(133.97deg, #4FB1F6 0%, #FB18EE 100%) border-box;
  border: 1px solid transparent;
}
.active-icon{
  background: linear-gradient(90deg, #22A1FE 0%, #FD18EF 100%);
}

.gradient_sidebar{
  background: url('../assets/svg/sidebar_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.profile_gradient{
  background: url('../assets/svg/profile_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.stats_gradient{
  background: url('../assets/svg/stats_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.offers{
  background: url('../assets/svg/offer_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.referral_gradient{
  background: url('../assets/svg/referral_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.money_gradient{
  background: url('../assets/svg/money_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.inventory_gradient{
  background: url('../assets/svg/inventory_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}


.overview_gradient{
  background: url('../assets/svg/overview_gradient.svg') center center/cover;
  background-repeat: no-repeat;
  /* background-size: 50%;  */
}
.asset_gradient{
  background: url('../assets/svg/inventory_asset_gradient.svg') center center/cover;
  background-repeat: no-repeat;
}

.border-gradient-btn:hover{
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(133.97deg, #4FB1F6 0%, #FB18EE 100%) border-box;
  border: 2px solid transparent;
}

.tbl tr td{
  padding: 0.5rem;
}

.tbl tr:nth-child(2n-1) td{
  background: #232731;
}
.tbl tr:nth-child(2n-1) td:nth-child(1){
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.tbl tr:nth-child(2n-1) td:nth-last-child(1){
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tbl td {
  text-align: left;
}
.tbl thead th{
  padding-bottom: 8px;
}

.recent-listing{
  background: url('../../public/assets/img/listing_gradient.png');
  background-repeat: no-repeat;
  background-size: cover; 
}
.listing-blur{
  color: #bdbdbd;
  /* background: url('../../public/assets/img/listing_blur.png');
  background-size: cover;
  background-repeat: no-repeat; */
  transition: ease-in-out 0.3s;
  border-radius: 12px;
}
.listing-blur .listing-btn{
  opacity: 30%;
  transition: ease-in-out 0.3s;
}
.listing-blur:hover .listing-btn{
  opacity: 100%;
}
.listing-blur:hover{
  background: rgba(11, 16, 23, 0.2) padding-box,
              linear-gradient(133.97deg, #4FB1F6 0%, #FB18EE 100%, 0.3) border-box;
  border: 3px solid transparent;
  color: white;
}

.recent-sales{
  background: url('../../public/assets/img/listing_gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.recent-rented{
  background: url('../../public/assets/img/listing_gradient.png');
  background-repeat: no-repeat;
  background-size: cover; 
}

.listing{
  background: url('../../public/assets/img/listing_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 300px) and (max-width: 800px){
  .rewards{
    background-size: 100%;
    background: none;
  }
  .advert{
    background-size: 100%;
    background: none;
  }
  .analytic{
    background-size: cover;
  }
  .buy-now{
    background: none;
  }
  .marketplace{
    /* background: none; */
  }
}